*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --grid:
        minmax(15em, 15%)
        70%
        minmax(15em, 15%);
    --clr-primary: #5528FF;
    --clr-dark: #202020;
    --clr-light: #4F4F4F;
    --clr-very-light: #B2B2B2;
    --clr-very-light-2: #C2C2C2;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-black: 900;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: var(--clr-dark);
}

p {
    margin-top: 0;
}

h2 {
    font-weight: var(--fw-light);
    color: var(--clr-very-light-2);
    text-transform: uppercase;
    line-height: 1rem;
    font-size: 0.875rem;
}

/* Header */
header {
    display: grid;
    grid-template-columns: var(--grid);
}

.header {
    padding-top: 3rem;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    font-size: 0.875rem;
}

.menu__item {
    margin-left: 2rem;
}

.menu__item > a {
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
    line-height: 1rem;
}

.menu__item .btn--primary {
    background-color: var(--clr-primary);
    color: white;
    padding: 0.25rem 0.875rem;
    border-radius: 5px;
}

/* Main */
main {
    display: grid;
    grid-template-columns: var(--grid);
    grid-row-gap: .5px;  
}

main > .content,
main > .services,
main > .clients,
main > .team {
    grid-column: 2;
}

main > .title {
    grid-column: 1/4;
    background-color: white;
    display: grid;
    grid-template-columns: 
        minmax(15em, 15%)
        max-content
        auto;
        border-top: .5px solid var(--clr-very-light-2);
    }
    
main > .title > h2 {
    margin-top: -.5rem;
    padding-left: 1.1rem;
    padding-right: 2.4rem;
    background-color: white;
    grid-column: 2;
}

/*h2::before,
h2::after {
    display: inline-block;
    content: "";
    border-top: 1px solid var(--clr-very-light);
    width: 100%;
    margin: 0 1rem;
    transform: translateY(-.4rem);
}*/

/* Content */

.content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 
        auto
        1fr
        1fr
}

.content__title {
    font-weight: var(--fw-bold);
    font-style: normal;
    font-size: 3.5rem;
    line-height: 4rem;
    padding-top: 4rem;
    grid-column: span 3;
}

.content__intro {
    font-weight: var(--fw-normal);
    font-style: normal;
    font-size: 2rem;
    line-height: 3.125rem;
    color: var(--clr-light);
    grid-column: span 2;
    margin-bottom: 0;
    padding-bottom: 4.375rem;
}

.content .btn {
    grid-row: 3;
    min-width: 0;
    margin-bottom: 6.25rem; 
}

.content .btn--primary {
    text-decoration: none;
    font-weight: var(--fw-normal);
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: white;

    padding: 1rem 3.6rem;
    border-radius: 10px;
}

/* Services */

.services {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
}

.services__card {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.services__card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__card-text > h3 {
    font-size: 1.75rem;
    font-weight: var(--fw-normal);
    margin: 0;
    padding-bottom: 1rem;
}

.services__card-text > p {
    font-size: 0.875rem;
    font-weight: var(--fw-normal);
    color: var(--clr-very-light-2)
}

/* Clients */
.clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 3rem;
    padding: 6rem 0;
}

.client_card {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Team */

.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 7.8rem;
    row-gap: 3.75rem;
    margin: 6.25rem 0;
}

.team__card {
    display: flex;
}

.team__card__image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team__card__copy {
    padding-left: 2.2rem;
}

.team__card__copy > h3 {
    font-weight: var(--fw-bold);
    font-size: 1.75rem;
    color: var(--clr-dark);
    margin: 0.7rem 0;
}

.team__card__copy > p {
    font-weight: var(--fw-normal);
    font-size: .875rem;
    color: var(--clr-very-light);
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: var(--grid);
    background-color: #F7F7F7;
}

.footer {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}


ul {
    list-style-type: none;
}